body {
      margin: 50x auto;
      width: 70%
}

title {
       font-size: 4em;
       font-family: 'Helvetica', 'Arial';
       color: #333;
}

h1 {
    font-size: 4em;
    font-family: 'Arial';
}

p {
   font-size: 3em;
   color: #300
}
